html, body {
  width: 100%;
  height: 100%;
}
body {
  background: #161622 url('../library/src/assets/main_bg.jpg') center/cover no-repeat;
  color: #ffffff;
  margin: 0px;
  position: relative;
  height: 100%;
  font-family: 'ApexNew-Light', Arial, sans-serif;
}
a {
  color:#0078ff;
}
img {
  max-width: 100%;
}
.red {
  color: red;
}
.inline-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.inline-list li {
  display: inline-block;
}
.fullscreen header {
  flex: 0 0 auto;
}
.fullscreen main {
  flex: 1 0 auto;
  position: relative;
}
#main-header {
  padding-top: 60px;
  width:100%;
  display:-moz-box; /* Firefox */
  display:-webkit-box; /* Safari and Chrome */
  display:-ms-flexbox; /* Internet Explorer 10 */
  display:box;
}
#main-header .divider{
  margin-left: 15px;
  margin-right: 25px;
  -moz-box-flex:5.0; /* Firefox */
  -webkit-box-flex:5.0; /* Safari and Chrome */
  -ms-flex:9.0; /* Internet Explorer 10 */
  box-flex:9.0;
  position: relative;
}
#main-header .divider:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  top: calc(50% - 2px);
}
#main-header .main-nav {
}
#main-header nav ul li:not(:last-child) {
  margin-right: 25px;
}
#app img {
  margin: 0 auto;
  display: block;
}
#volentix-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
#vtx-wheel {
  position: absolute;
  max-width: 50vh;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
#vtx-wheel svg {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
#vtx-wheel .wheel-dot {
  cursor: pointer;
}
#vtx-wheel #left,
#vtx-wheel #right,
#vtx-wheel #top,
#vtx-wheel #bottom {
  opacity: 0;
}
#vtx-wheel #vtx-logo,
#vtx-wheel #vtx-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
#vtx-wheel #vtx-logo {
  width: calc(75% - 60px);
}
#vtx-wheel #vtx-logo img {
  animation: float 6s ease-in-out infinite;
}
#vtx-text {
  position: relative;
  width: 100%;
  height: 100%;
}
.nodes * {
  transition: all 0.5s ease;
}
.nodes {
  position: absolute;
}
.nodes:nth-of-type(2),
.nodes:nth-of-type(3) {
  right: -160px;
}
.nodes:nth-of-type(4),
.nodes:nth-of-type(5) {
  left: -160px;
  text-align: right;
}
.nodes:nth-of-type(2) {
  top: 23%;
}
.nodes:nth-of-type(3) {
  bottom: 23%;
}
.nodes:nth-of-type(4) {
  top: 23%;
}
.nodes:nth-of-type(5) {
  bottom: 23%;
}
.nodes h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'ApexNew-Bold', Arial, sans-serif;
  width: 195px;
  position: relative;
}
.nodes h2:after {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 60%;
  left: 0;
  background-color: #fff;
  transition: all 0.5s ease;
}
.nodes .node-content {
  display: none;
  width: 400px;
  background-color: rgba(0,0,0,0.25);
  padding: 10px;
  font-weight: normal;
  position: absolute;
  font-size: 14px;
  left: -15px;
}
.nodes:nth-of-type(2) .node-content,
.nodes:nth-of-type(4) .node-content {
  top: -150px;
}
.nodes:nth-of-type(4) .node-content,
.nodes:nth-of-type(5) .node-content {
  left: auto;
  right: -15px;
}
.nodes:nth-of-type(4) h2:after,
.nodes:nth-of-type(5) h2:after {
  left: auto;
  right: 0;
}
.nodes .node-content p {
  margin-top: 0;
}
.nodes .node-content .read-more {
  color: #cf7532;
  font-family: 'ApexNew-Bold', Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 20px #cf7532;
  text-decoration: none;
  position: relative;
  margin-right: 20px;
  opacity: 0;
}
.read-more:after {
  content: '›';
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-family: 'ApexNew-Book';
}
.nodes.active h2 {
  color: #cf7532;
}
.nodes.active h2:after {
  width: 100%;
  background-color: #cf7532;
}
.nodes.active .node-content {
  display: block;
}
@keyframes float {
	0% {
		transform: translatey(5px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(5px);
	}
}
footer {
  padding-bottom: 60px;
}
footer #countdown {
  font-size: 40px;
  margin-bottom: 0;
  letter-spacing: 5px;
  font-family: 'ApexNew-Medium', Arial, sans-serif;
}
